body{

width: 100%;
}

.left{
  width: 70%;
  display: inline-block;
  background-color: yellow;
}

.right{
  width: 25%;
  display: inline-block;
  background-color: lightblue;
}

iframe{
  position: absolute;
  top: 30px;
  left: 0;
  width: 70%;
  display: block;
}
.img-container{
  display: inline-block;
  align-items: left;
  width: 50%;
  background-color: orange;
}
.img{
  margin-top: 10px;
  border-radius: 3px;
  height: 100px;
  width: 100%;
  display: inline-block;
  cursor: pointer;
}
.thumnail-text-container{
  display: inline-block;
  align-items: right;
  background-color: yellow;
  width: 40%;
}

h3{
position: absolute;
top: 420px;
left: 10px;
display: inline-block;

}
.viewers{
position: absolute;
top: 420px;
left: 680px;
display: inline-block;
color: gray;
}
.description{
width: 68%;
position: absolute;
top: 480px;
left: 10px;
display: flex;
}
